[user]
  name = "TODO"
  email = "TODO"
  signingkey = "TODO"

[core]
  editor = "nvim"

[init]
  defaultBranch = "main"

[diff]
  external = "difft"

[commit]
  gpgsign = true

[pull]
  rebase = false

[alias]
  s = "status"
  c = "commit"
  br = "branch"
  ch = "checkout"
  d = "diff"
  ds = "diff --staged"
  l = "log --graph --pretty='%Cred%h%Creset %C(bold blue)<%an>%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)' --abbrev-commit --date=relative"
